.hidden {
    display: none;
    padding: 8px;
    margin: 8px;
}

button {
    cursor: pointer;
    text-wrap: stable;
    width: 128px;
    height: 100%;
    padding: 4px;
    margin: 4px;
    border-style: hidden;
    border: solid 2px black;
    border-radius: 4px;
    text-align: center;
    background-color: #aa4444;
    color: #222222;
    flex-shrink: 0;
}

button > img {
    width: 100%;
    height: auto;
    padding: none;
    margin: none;
}

.navbar {
    border: solid 2px black;
    border-radius: 4px;
    background-color: #6666aa;
    text-align: center;
    width: auto;
}

.divrow {
    display: flex;
    flex-direction: row;
    background-color: #444488;
    color: #cccccc;
    border: solid 2px black;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
}

.divcol {
    display: flex;
    flex-direction: column;
    background-color: #444488;
    color: #cccccc;
    border: solid 2px black;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
}

.divrow > * {
    padding: 8px;
    margin: 8px;
}

.divcol > * {
    padding: 8px;
    margin: 8px;
}

ul {
    background-color: #448866;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    overflow-y: auto;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}

ul > * {
    border: solid 2px black;
    text-wrap: nowrap;
    overflow-x: auto;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}

li {
    background-color: #cc6644;
    color: #222222;
}

li > * {
    border: none;
    color: #222222;
}

p {
    background-color: #6688cc;
}

h1, h2, h3 {
    color: #ffeedd;
    border: none;
}

.divrow > h3 {
    color: #aa8822;
}

.divcol > h3 {
    color: #aa8822;
}

canvas {
    padding: 16px;
    margin: 16px;
}

body {
    padding: 32px;
    margin: 32px;
    background-color: #cc8822;
}

a {
    color: #aa8822;
}