body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 20px;
    padding: 20px;
    color: #333;
}

h1, h2 {
    color: #30B070;
}

button {
    width: 100px;
    flex-shrink: 0;
    text-wrap: stable;
}

ul {
    border: 2px solid #303030;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: auto;
}

li {
    list-style-type: square;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    text-wrap: nowrap;
    overflow-x: auto;
}

.navbar {
    background-color: #707070;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.navbar button {
    width: auto;
    flex-shrink: auto;
    background-color: #f0f0f0;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 4px;
}

.hidden {
    width: 100%;
    display: none;
    padding: 8px;
    text-align: center;
    align-items: center;
}

.divrow {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    background-color: #d0d0d0;
    gap: 32px;
    padding: 8px;
}

.divcol {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}